*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: #424151;
}

.contenedor{
    position: relative;
    top: 50px;
    margin:auto;
    width: 90%;
    height: 90vh;
    background-image: url(/vero/img/foto2.jpg);
    background-size: 100% 100%;
    overflow: hidden;
    color: rgb(56, 233, 21);
}

h1{
    position: absolute;
    top: 60%;
    margin-left: 30%;
   
}
p{
    width: 100%;
    position: absolute;
    margin-left: 35%;
    margin-right: 35%;
    top: 50%; 
   
}


.contenedor:before{
    position: absolute;
    top: 10px;
    left: 20px;
    content:"";
    width: 80%;
    height: 2px;
    background: rgb(8, 219, 54);
}
.contenedor:after{
    position: absolute;
    bottom: 10px;
    right: 20px;
    content:"";
    width: 80%;
    height: 2px;
    background: rgb(8, 219, 54);
}