*{
    background: rgba(0, 0, 0, 0.027);
    font-family: 'Roboto Slab', serif;
}
@font-face {
    font-family: 'Arvo';
    font-display: auto;
    src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v9/rC7kKhY-eUDY-ucISTIf5PesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  }

h2{
    text-align: center;
    font-size: 1.25em;
}

.button,
.button1,
.button2,
.button3,
.button4,
.button5,
.button6,
.button7,
.button8{
    background: #d6e22db4;
    color: rgba(19, 2, 2, 0.712);
    display: inline-block;
    font-size: 1.25em;
    margin: 20px;
    padding: 10px 0px;
    text-align: center;
    width: 200px;
    text-decoration: none;
    box-shadow: 0px;
}
.button:hover{
    background-color: aqua;
    color: white;
    transition: 300ms;
}
.button1:hover{
    background-color: rebeccapurple;
    color: white;
    transition: 300ms;    
}
.button2:hover{
    background-color: greenyellow;
    color: white;
    transition: 300ms;
}
.button3:hover{
    background-color: fuchsia;
    color: white;
    transition: 300ms;
}
.button4:hover{
    background-color:royalblue;
    color: white; 
    transition: 300ms;
}
.button5:hover{
    background-color: aquamarine;
    color: white;
    transition: 300ms;
}
.button6:hover{
    background-color: gold;
    color: white;
    transition: 300ms;
}
.button7:hover{
    background-color:purple;
    color: white; 
    transition: 300ms;
}
.button8:hover{
    background-color:navy;
    color: white; 
    transition: 300ms;
}