*{
    background-color: blue;
}

.contenedor{
    width: 30px;
    height: 30px;
    color: brown;
}
.button{
    background: #7f8c8d;
    color: #fff;
    display: inline-block;
    font-size: 1.25em;
    margin: 20px;
    padding: 10px 0px;
    text-align: center;
    width: 200px;
    text-decoration: none;
    box-shadow: 0px;

}