*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgba(246, 247, 245, 0.89);
}
.uno{
    padding-top: 20px;
}
.logo{
    height: 65px;
    width: 130px;
}
.logo img{
    width: 100%;
    height: 100%;
}
/* .nav-link{
    color: darkgoldenrod !important;
}
.navbar-toggler{
    color: darkgoldenrod !important;
} */

.img-fluid{
    max-width: 100%;
    height: 500px;
}

.collection-card .stripe {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    padding: 1.2rem;
    text-align: center;
}
.collection-card .stripe.dark {
    background-color: rgba(0,0,0,.7);
}
.collection-card .stripe.light {
    background-color: rgba(243, 236, 236, 0.7);
}
.collection-card .stripe.dark a p {
    color: #eee;
}
.collection-card .stripe.stripe.light a p {
    color: #0e0000;
}
.collection-card .stripe a p {
    padding: 0;
    margin: 0;
    letter-spacing: .25rem;
}
.carousel{
    top: 40px;
}
.w-100 {
    width: 100%!important;
    height: 500px;
}
.mb-1{
    background: #00050ab2 !important;
}
/*footer*/
footer{
    background:#212121e5;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.footer h3{
    font-size:40px;
    color: #fff; 
    /* text-shadow: 2px 12px 12px rgb(212, 235, 11); */
}
.marca-logo{
    width: 30%;
    margin: auto;
    margin-bottom: var(--espacios-contenido);
}
.marca-logo img{
    
    width: 100%;
}
.iconos{
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 100%;
    margin-top:70px;
}
.iconos .fab{
    font-size: 60px;
    color: rgb(241, 244, 245);
    margin-bottom: var(--espacios);
    display: inline-block;
}
.fa-instagram:hover{
    color: #d370b3;
}
.fa-facebook:hover{
    color: #3c0af0
}
.fa-whatsapp:hover{
    color: #05dd29
}
.fa-twitter:hover{
    color: #3f72e2
}
.footer p{
    margin-top:50px;
    color: hsl(75, 22%, 96%);
    font-size: 40px;
    /* text-shadow: 2px 1px 2px rgb(212, 235, 11); */
} 
.footer{
    text-align: center;
    margin-bottom: var(--espacios);
    color: var(--color1);
    /* text-shadow: 2px 12px 12px rgb(212, 235, 11);  */
}
/*boton ir arriva*/
.cm-up{
    
    position: fixed;
    background: rgba(5, 243, 37, 0.959);
    height: 50px;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 0px;
    right: 15px;
    bottom: 5%;
}

.cm-up .cm-text-up{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    float: left;
    padding: 0px;
    font-size: 18px;
    text-align: center;
    line-height: 45px;
    width: 0;
    transition: 0.4s;
}
.cm-up:hover{
    background-color: #92c20ddc;
}

.cm-icon{
    
    font-size: 50px;
    float: right;
    width: 50px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.cm-up:hover > .cm-text-up{
    width: 150px;
    padding: 0 6px;
}
.cm-icon .fab{
    font-size: 30px;
   padding-top: 25px;
   color: #f4f7f8;
}

/* .cm-up:hover > .cm-icon{
    background: #fff;
} */
.footer-copy{
    text-align: center;
    color:#fff; 
    margin-bottom: var(--espacios);
}
.creado a{
    text-decoration: none;
    color:#fff;
       /* text-shadow: 2px 12px 12px rgb(212, 235, 11); */
}
.creado a:hover{
    color: #2c3e50;
}
.fondo{
    width: 100%;
    height: 100vh;
    display: none;
    
}
.images{
    background: url(/images/icono-logo-1.jpg);
    background-attachment: fixed;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100vh;
}

@media screen and ( max-width: 700px){
    .carousel{
        display: none;
    }
    .fondo{
        display:block;
    }
    .iconos{
        display: flex;
        margin: auto;
        justify-content: space-around;
        width: 100%;
        margin-top:70px;
    }
    .iconos .fab{
        font-size: 40px;
        color: rgb(241, 244, 245);
        margin-bottom:5px;
        display: inline-block;
    }
}

.mapa{
    width: 90%;
    margin: auto;
}
.mapa iframe{
    width: 100%;
}
.contenedor{
    margin: auto;
    padding: 10px 0;
    width: 100%;
    max-width: 1300px;
    text-align: center;
    overflow: hidden;
}
.contenedor h3{
    font-family: 'Fascinate Inline', cursive;
    font-size:40px;
    margin-bottom:10px;
    
}
.contenedor p{
    font-size: 30px;
    font-weight: 300;
}