*{
    margin: 0;
    padding: 0;
}
.contenedor-1{
    background: url(/images/fondo-1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-family: 'Black Ops One', cursive;
    text-align: center;
    color: rgb(108, 114, 108);
    margin: 30px 0 50px;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 15px auto;
}
.elemento{
    width: 32%;
    background: #fff;
    /* float: left;*/
    margin: 10px auto;
    margin-bottom: 15px; 
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
}
.elemento p{
    text-align: center;
    padding: 10px;
    font-size: 13px;
}
.elemento img{
    width: 100%;
    filter: grayscale(100%);
    transition: 1s;
}
.elemento img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}

@media screen and ( max-width: 700px){
    .contenedor{
        width: 90%;
        margin: 10px auto;
    }
    .elemento{
        width: 30%;
        background: #fff;
        /* float: left;*/
        margin: 10px auto;
        margin-bottom: 15px; 
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    }
    .elemento img{
        height: 200px;
    }
}
/*boton wathsaap*/
.cm-up{
    
    position: fixed;
    background: rgba(5, 243, 37, 0.959);
    height: 50px;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 0px;
    right: 15px;
    bottom: 5%;
}

.cm-up .cm-text-up{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    float: left;
    padding: 0px;
    font-size: 18px;
    text-align: center;
    line-height: 45px;
    width: 0;
    transition: 0.4s;
}
.cm-up:hover{
    background-color: #067e2adc
}

.cm-icon{
    
    font-size: 50px;
    float: right;
    width: 50px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.cm-up:hover > .cm-text-up{
    width: 150px;
    padding: 0 6px;
}
.cm-icon .fa{
    font-size: 30px;
   padding-top: 25px;
   color: #f8fafc;
}
/*boton wathsaap*/

/*footer*/
.footer-copy{
    text-align: center;
    color: #fff;
    margin-bottom: 10px;;
}
.creado a{
    text-decoration: none;
    color: var(--color1);
}
.creado a:hover{
    color: #2c3e50;
}
/*footer*/
