:root{
    --color1:rgba(219,144,.5);
    --color2:rgba(72, 4, 231, 0.966);
    --color3:rgba(11,194,211,0.623);
    --fondo:#f2f2f2;
    --titulos: 33px;
    --margenes: 60px;
    --espacios: 10px;
    --espacios-contenido: 45px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Black Ops One', cursive;
    background: var(--fondo);
}
img{
    vertical-align: top;
}
/*header*/
header{
   
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom,
    rgba(211,115,29,.6),
    rgba(29,241,171,.6),
    rgba(7,109,150,.45)),url(/muestras/images/img2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav{
    position: fixed;
    color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    width: 100%; 
}
.nav1{
    background: transparent;
    height: 80px;
    color: #fff;
}
.nav2{
    background: var(--fondo);
    height: 100px;
    color: #000;
}
.contenedor-nav{
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: inherit;
    overflow: hidden;
}
.enlaces{
    margin: auto;
}
nav .enlaces a{
    display: inline-block;
    padding: 10px 0;
    margin-right: 7px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: inherit;
}
nav .enlaces a:hover{
    font-size: 20px;
    border-bottom: 4px solid #3c0af0;
    transition: 0.6s;
    
}
.logo, .logo img{
    height: 180px;
}
.icono{
    display: none;
    font-size: 24px;
    padding: 23.5px 20px;
}
.textos{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    overflow: hidden;
    text-align: center;
}
.textos h1{
    font-size: 80px;
}
.textos>h2{
    font-size: 30px;
    font-weight: 300;
}
/*main*/
.contenedor{
    margin: auto;
    padding: var(--margenes) 0;
    width: 100%;
    max-width: 1300px;
    text-align: center;
    overflow: hidden;
}
.contenedor h3{
    font-size:var(--titulos);
    color: var(--color1); 
    margin-bottom: var(--espacios);
}
.contenedor p{
    font-size: var(--subtitulos);
    font-weight: 300;
    color: var(--color1);
} 
.after::after{
    content: '';
    display: block;
    margin: auto;
    margin-top: var(--espacios);
    width: 100px;
    height: 2px;
    background: var(--color1);
    margin-bottom: var(--espacios-contenido);
}
.card{
    /* height: 500px; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.content-card{
    width: 31%;
    box-shadow: 0 0 6px 0 rgba(0,0,0.5);
    overflow: hidden;
    height: 400px;
} 
.people{
    height: 95%;
}

.content-card img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.texto-team{
    height: 3%;
    width: 100%;
    padding:  0;
} 
.about{
    background: url(/muestras/images/img8.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.about-1{
    background: url(/muestras/images/im8.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.servicios{
    
    display: flex;
    color:#fff;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    padding: 10px;
}
.caja-servicios{
    box-shadow: 0 0 6px 0 hsl(60, 17%, 98%);
}
.caja-servicios img{
    width: 400px;
    height: 400px;
}
.caja-servicios>h4{
    font-size: 30px;
    margin-bottom: var(--espacios-c);
}
.caja-servicios>p{
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.about-1{
    background: url(/muestras/images/fondo-1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.botones-work{
    overflow: hidden;
}
.botones-work li{
    display: inline-block;
    text-align: center;
    margin-left: var(--espacios);
    margin-bottom: var(--espacios-contenido);
    padding: 6px 12px;
    border: 1px solid var(--color1);
    list-style: none;
    color: var(--color1);
}
.botones-work li:hover{
    background: var(--color1);
    color: #fff;
    cursor: pointer;
}
.botones-work .active{
    background: var(--color1);
    color: #fff;
}
.galeria-work{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.galeria-work .cont-work{
    width: 31%;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
    height: 400px;
    overflow: hidden;
    margin-bottom: var(--espacios-contenido);
}
.img-work{
    height: 90%;
    width: 100%;
}
.img-work img{
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}
.textos-work{
    height: 10%;
}
.textos-work h4{
    line-height: 30px;
    font-weight: 300;
}
/*footer*/
 /* footer{
    background: url(/images/fondo.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
} */
footer h3{
    font-size:var(--titulos);
    color: var(--color1); 
}
.marca-logo{
    width: 30%;
    margin: auto;
    margin-bottom: var(--espacios-contenido);
}
.marca-logo img{
    
    width: 100%;
}
.iconos{
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 100%;
    margin-top: var(--espacios);
}
.fa{
    font-size: 40px;
    color: rgb(128, 124, 124);
    margin-bottom: var(--espacios);
    display: inline-block;
}
.fa-instagram:hover{
    color: #d370b3;
}
.fa-facebook-f:hover{
    color: #3c0af0
}
.fa-whatsapp:hover{
    color: #05dd29
}
.fa-twitter:hover{
    color: #3f72e2
}
.footer{
    justify-content: center;
    /* text-align: center; */
    margin-bottom: var(--espacios);
    color: var(--color1); 
}
@media screen and ( max-width: 700px){
    nav .enlaces a:hover{
        border-bottom: 3px solid#1498a4;
        transition: 0.6s;
    }
    .logo, .logo img{
        height: 200px;
    }
    .nav2{
        color: #fff; 
     }
     .icono{
         display: block;
         cursor: pointer;
     }
     .enlaces{
         position: fixed;
         top: 80px;
         background-color: #2c3e50;
         left: 10;
         height: 100%;
         transition: 1s;
         width: 0;
         overflow: hidden;
     }
     .enlaces a{
         display: block;
         width: 100%;
         height: 42px;
         padding: 20px;
         margin-top: 5px;
         text-align: center;
         background: #34495e;
         color: #fff;
     }
     .enlaces .btn-header{
         padding-top: 10px;
     }
     .textos>h1{
         font-size: 70px;
     }
     .textos>h2{
        font-size: 35px;
    }
    .content-card{
        width: 48%;
        margin-bottom: var(--margenes);
    }
    :root{
        --margenes: 30px;
    }
    .marca-logo{
        width: 70%;
    }
}
@media screen and (max-width:500px){
    nav .enlaces a:hover{
        border-bottom: 3px solid#1498a4;
        transition: 0.6s;
    }
    .logo, .logo img{
        height: 190px;
    }
    :root{
        --espacios-contenido: 25px;
    }
    .content-card{
        width: 90%;
        height: 500px;
        background: #fff;
    }
    .content-card img{
        width: 100%;
        object-fit:contain;
    }
    .caja-servicios{
        width: 100%;
        margin-bottom: var(--margenes);
    }
    .caja-servicios img{
        width: 100%;
        height: 400px;
    }
    .galeria-work
    .cont-work{
        width: 45%;
        height: 300px;
    }
    .marca-logo{
        width: 60%;
        margin: auto;
    }
    .iconos{
        margin-bottom: var(--margenes) auto;
    }
}

/*boton ir arriva*/
 .cm-up{
    
    position: fixed;
    background: rgba(5, 243, 37, 0.959);
    height: 50px;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 0px;
    right: 15px;
    bottom: 5%;
}

.cm-up .cm-text-up{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    float: left;
    padding: 0px;
    font-size: 18px;
    text-align: center;
    line-height: 45px;
    width: 0;
    transition: 0.4s;
}
.cm-up:hover{
    background-color: #067e2adc
}

.cm-icon{
    
    font-size: 50px;
    float: right;
    width: 50px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.cm-up:hover > .cm-text-up{
    width: 150px;
    padding: 0 6px;
}
.cm-icon .fa{
    font-size: 30px;
   padding-top: 25px;
   color: #f8fafc;
}

/* .cm-up:hover > .cm-icon{
    background: #fff;
} */
.footer-copy{
    text-align: center;
    color: var(--color1); 
    margin-bottom: var(--espacios);
}
.creado a{
    text-decoration: none;
    color: var(--color1);
}
.creado a:hover{
    color: #2c3e50;
}

