*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
hr{
    height: 1px;
    border: none;
    background: #7a7a7a;
    max-width: 80%;
    margin: 0 auto;
}
p,
h1{
    max-width: 80%;
    margin: 20px auto;
}
h1{
   font-weight: normal; 
}

.logo{
    font-family:'pacifico';
    font-size: 70px;
}
.logo-main{
    height: 200px;
    padding: 20px;
    background: #fff;
    color: white;
    cursor: default;
}
.logo-main img{
    border-radius:50%;
    
}
.logo-small{
    display: inline-block;
    font-size: 40px;
    padding: 4px;
    margin-right: 30px;
    color: #0c7e12;
    cursor: pointer;
}
.nav{
    float: left;
    width: 100%;
    background: rgba(230, 26, 179, 0.973);
    color: white;
    padding: 0 20px;
    transition: .3s ease all;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0,);
    -webkit-transform: translate3d(0, 0, 0,);
}
.nav .wrap{
    position: relative;
    left: -280px;
    transition: 0.4s ease all;
}
nav{
    display: inline-block;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav ul li{
    margin: 0;
    padding: 0;
    display: inline-block;
}
nav ul li a{
    font-size: 20px;
    display: block;
    padding: 20px;
    margin: 0;
    color: rgb(20, 1, 1);
    text-decoration: none;
    transition: 0.2s ease all;
}
nav a:hover{
    color: white;
    background: #01de26;
}
.main{
    background: white;
    padding: 80px;
}
body.nav-fixed .nav{
    position: fixed;
    top: 0;
}
body.nav-fixed .nav .wrap{
    left: 0;
}
.btn-menu{
    width: 60px;
    height: 60px;
    padding: 22px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #de0189;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: all 500ms cubic-bezier(1,0,0,1);
    transform: translateX(100px);
}
.btn-menu:hover{
    transform: scale(1.2);
    background: #fa42cc;
}

@media screen and (max-width: 800px){
    .btn-menu{
        transform: translateX(0px);
    }
    .logo-main{
        display: none;
    }
    .nav{
        width: 70%;
        position: fixed;
        top: 0;
        height: 100vh;
        padding:0px;
        transform: translateX(-100%); 
    }
    .nav .wrap{
        left: 0;
    }
    nav{
        width: 100%;
        position: absolute;
        top: 60px;
    }
    nav li{
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
    }
    .logo-small{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    nav a{
        width: 100%;
        display: block;
        padding: 20px;
        margin: 0;
        color: white;
    }
    .nav-toggle{
        transition: all 300ms cubic-bezier(1,0,0,1);
        transform: translateX(0%);
    }
    .main{
        background: white;
        padding: 20px;
    }
}