*{
    margin: 0px;
    padding: 0px;
}
body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    list-style-type: square 2px;
    width: 100%;
}
h1, h2, h3, h4, h5, h6, p, {
    font-family: 'Permanent Marker', cursive;
}
a{
    font-family: 'Permanent Marker', cursive;
    
    
}

/*======banner=====*/

#banner{
    margin-top: 55px;
    position: relative;
    width: 80%;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
}
.header-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:rgba(51, 51, 51, 0.466);
    z-index: 1;
    opacity: .85; 
}
#banner img{
    margin-top: 0px;
    width: 100%;
    height: 100%;
}

#banner .contenedor2{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateX(-50%)translateY(-50%);
    color: #fff;
    z-index: 100;
}
#banner h2 {
    font-size: 30px;
    color: greenyellow;
}
#banner P{
    color: rgb(207, 145, 130);
    font-size:20px; 
}

#banner a{
    display: block;
    width: 100px;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid #fff; 
    margin-bottom: auto; 
}
#banner a:hover{
    background: #333;
}
/*======titulo===*/

section{
    width: 100%;
    margin-bottom: 25px;
}

#bienvenidos{
    text-align: center;
}

/*======muestra=====*/
#blog .contenedor3{
    background: #333;
    color: #fff;
}

#blog h3, h4{
    text-align: center;
}

#blog .contenedor3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#blog article{
    margin: 15px;
}

#blog img{
    width: 100%;
    max-width: 280px;
}

/*=====promos=====*/

#promos{
    text-align: center;
}
.contenedor1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(51, 51, 51, 0.26);
}

.contenedor{
    height: 250px;
    width: 250px;
    margin: auto;
    -webkit-perspective: 700;
    padding: 5px;
    padding-bottom: 50px;
}
/******efecto 3d********/
.carta{
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: 2s;
}
.carta:hover{
    transform: rotatey(180deg);
}
.lado{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
}
.frente{
    background:cadetblue;
    border-radius: 30%;
}
.atras{
    background:#333;
    transform: rotatey(180deg);
}
.atras .descuento{
    color: #fff;
    font-size: 60px;
}
.atras .segunda{
    color: #fff;
}
.atras .envio{
    color: #fff;
    font-size: 30px;
}
.contenedor img{
    width: 100%;
    height: 100%;
    border-radius: 30%;
}
.click{
    margin-top: 0px;
}

/*******forma de pago******/
#forma-de-pago img{
    width: 50%;
    height: 120px;
}


#forma-de-pago{
    text-align: center;
    background: rgba(51, 51, 51, 0.048);
}
.pago:hover{
    background: lawngreen;
}
.efectivo:hover{
    background:orangered;
}
.cuota:hover{
    background: fuchsia;
}
.todas:hover{
    background: turquoise;
}
@media(min-width:1024px){
.pago, .efectivo, .cuota, .todas{
    font: bold 25px;
    text-decoration: none;
    color: #333;
    border: 4px solid rgb(22, 14, 4);
    margin-left: 25%;
    margin-right: 25%;
    transition:background 1s;
 }
}


/*********redes social********/
.copy{
    color: #fff;
}

.footer{
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer #social a img{
    display: inline-block;
   color: #fff;
   text-decoration: none;
   font-size: 40px;
   padding: 1px;
   background: white;
   border-radius: 50%; 
   width: 40px;
   height:40px;
   line-height: 40px;
}


/*********nosotros*************/
body{
    background:rgba(51, 51, 51, 0.192);
}
.nosotros h1{
    color: #494b4d;
    font-weight: 400;
    display: flex;
    flex-direction:column;
    text-align: center;
    margin: 15px 0px; 
}
.historia{
    margin-left: 10%;
    margin-right: 10%;
}
.foto1 img{
    width: 350px;
    height: 200px;
    margin-left: 20%;
    border-radius: 20%;
}
.firma{
    text-align: center;
    padding-bottom: 20px;
    margin-top: 20px;
}

