*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-image: url(/img/bg3.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

.contenedor{
    width: 90%;
    max-width: 700px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.tarjeta{
    background: #fff;
    margin: 40px 0;
    border-radius:5px;
    overflow: hidden;
    z-index: 1000; 
}

/*slider banner*/

.section-banner{
    overflow: hidden;
    z-index: 1000;
    position: relative;
}

.slider-banner .banner{
    position: relative;
    width: 100%;
}

.slider-banner .banner img{
    vertical-align: top;
    width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
}

.slider-banner .flecha-banner{
    font-size: 35px;
    line-height: 35px;
    color: rgba(0,0,0,.2);
    position: absolute;
    top: 50%;
    z-index: 1100;
}

.slider-banner .flecha-banner:hover{
    color: rgba(0,0,0,.5);
}

.slider-banner .anterior{
    left: 20px;
}

.slider-banner .siguiente{
   right: 20px; 
}

