* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
  }
  .ir-arriba{
    display:none;
    padding: 10px;
    background: #024959;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

   .header{
    z-index: 999;
    width: 100%;
    height: 50px;
    background: #140d075b;
    text-align: center;
    position: fixed;
    top: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  /*
  header h1{
    font-size: 42px;
    color: #fff;
    line-height: 230px;
    font-weight: 300;
    transition: all 0.3s ease;
  }
  header h1 i{
    font-weight: bold;
    text-transform: uppercase;
  }
  */
  /* .header nav{
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background: rgba(31, 12, 5, 0.164);
  }
  .header .menu a{
    cursor: pointer;
    color: white;
    font-size: 20px;
    display: inline-block;
    padding: 10px 15px;
    line-height: 1;
    text-decoration: none;
    border-radius: 5px;
  }
  .header .menu a:hover{
    background: rgba(0,0,0,0.9);
  } */
  h2{
    font-size: 34px;
    text-transform: uppercase;
    font-weight:400;
    line-height: 2;
    color: #2c3e50; 
  } 
  .sub-titulo{
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 2rem;
    line-height: 2;
    color: white;
  }
  .wrapper{
    max-width: 800px;
    margin: 0 auto;
  }
  section-1{
    margin: 10px;
    padding: 20px;
    background: white;
    border-radius: 4px;
    box-shadow:  0 1px 0 rgba(0,0,0,0.2);
  }
  body.sticky-header{
    padding-top: 100px;
  }
  body.sticky-header header{
    height: 60px;
    background: #e88300;
  }
  body.sticky-header header h1{
    transform: scale(0, 0);
  }

  
  .main {
    
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  .content {
    max-width: 40rem;
    padding-left: 15rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
  }
  
  .main-img {
    position: absolute;
    top: 40px;
    left: 0;
    width: 40%;
    height: 100vh;
    overflow: hidden;
  }
  
  .main-img img {
    width: 100%;
    height: 81%;
  }
  
  .main-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #292d36;
    z-index: 1;
    opacity: .55;
  }
  
  .main-content {
    top: 40;
    z-index: 2;
    margin-left: 40%;
  }
  
  .main-content .nombre {
    font-weight: 600;
    font-size: 120px;
    margin-bottom: 0;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  .main-content .sub-titulo {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
  }
  
  .btn {
    font-family: 'Roboto Condensed', sans-serif;
    background: -webkit-linear-gradient(#54bbc7, #2ee3ad, #9191f2);
    background: -o-linear-gradient(#54bbc7, #2ee3ad, #9191f2);
    background: linear-gradient(#54bbc7, #2ee3ad, #9191f2);
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
  }
  
  @media (max-width: 960px) {
    .content {
      padding: 0 3rem 0 3rem;
    }
    .main-content .nombre {
      font-weight: 600;
      font-size: 80px;
      margin-bottom: 0;
      font-family: 'Roboto Condensed', sans-serif;
    }
  }
  @media screen and (max-width: 480px){
    .btn {
       background: -webkit-linear-gradient(#54bbc7, #2ee3ad, #9191f2);
    background: -o-linear-gradient(#54bbc7, #2ee3ad, #9191f2);
    background: linear-gradient(#54bbc7, #2ee3ad, #9191f2);
      color: #fff;
      font-size: .8rem;
      padding: 1rem 2rem;
      text-decoration: none;
    }
    .main-content .nombre {
      font-weight: 600;
      font-size: 60px;
      margin-bottom: 0;
      font-family: 'Roboto Condensed', sans-serif;
    }
    .contenedor .titulo h1{
      font-size: 30px;
    }
    .titulo{
      font-weight: 100;
    }
    .titulo h1{
      font-size:30px;
    }

  }


  .contenedor{
    display: flex;
    flex-wrap: wrap;
    background-image: url(/claudia/img/bg.png);
    background-attachment: fixed;
    /* justify-content: space-between;
    flex-direction: row-reverse;
    align-items: end; */  
  }
  .titulo{
    margin-top: 5px;
    width: 100%;
    font-weight: 300;
    display: flex;
    justify-content: center;
  }
  .titulo h1{
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
  }
  .contenedor #galeria{
    margin: 0 auto;
    width: 81%;
    display: flex;
    flex-wrap: wrap;
  }
  .itemgaleria{
    margin-left: 2%;
    width: 23%;
  }

  /* .contenedor #galeria .imagenproducto{
    display: block;
    width: 100%;
    height: auto;
    transition: 250ms ease-in-out;
  }
  .contenedor #galeria .imagensecundaria{
    opacity: 0;
    transition: .2s;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: auto;
    width: calc(100% - 0em);
  }*/
  .contenedor img{
    margin-top: 20px;
    max-width: 100%;
    cursor: pointer;
    transition: all .5s;
  } 