*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}
.menu{
    z-index: 2;
    width: 2.2rem;
    height: 2.7rem;
    background: #2EE3AD;
    position: absolute;
    top: 50%;
    left: 5%;
    font-family: sans-serif;
    font-size: 1.7rem;
    color: white;
    text-align: center;
    transition: left 0.7s;
}
.checkbox:checked ~ .menu{
    left: 38%;
    border-radius: 0 0.5rem 0.5rem 0;
}
.left-panel{
    z-index: 2;
    width: 38%;
    height: 100%;
    background: -webkit-linear-gradient(#54bbc7, #2ee3ad, #9191f2);
    background: -o-linear-gradient(#54bbc7, #2ee3ad, #9191f2);
    background: linear-gradient(#54bbc7, #2ee3ad, #9191f2);
    position: absolute;
    top: 0;
    left: -40%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.4s;
}
.left-panel .titulo{
    margin-top: 40px;
}
.left-panel .titulo h1{
    color: #d42d36;
}
.checkbox:checked ~ .left-panel{
    left: 0;
}
.checkbox{
    display: none;
}
ul a{
    color: #422d2e;
    text-decoration: none;
}
li{
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    padding: 0 0.5rem;
    margin: 1rem;
}
li:hover{
    color: #fff;
    border: solid 1px white;
    border-width: 0 0.1rem;
}